@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Noto+Sans+JP&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 1rem = 16px */

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
}

body {
  font-size: 1.4rem;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

header {
  position: sticky;
  top: 0;
  background: white;
}

nav {
  padding: 2rem;
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
}

nav h1 {
  font-weight: 700;
}

nav ul {
  display: flex;
  gap: 2rem;
}

nav ul li {
  font-size: 1.7rem;
}

nav ul li:hover {
  border-bottom: #ccc 1.5px solid;
  cursor: pointer;
}

nav i {
  font-size: 2.3rem;
}

main {
  max-width: 1100px;
  margin: 0 auto;
}

/* Hero Section */

#hero {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
  align-items: center;
}

.hero_content h1 {
  font-size: 8rem;
  line-height: 1.2;
  font-weight: 600;
}

.hero_content h4 {
  font-size: 2.5rem;
  font-weight: 300;
}

.hero_image img {
  border-radius: 5rem;
}

/* Long card section */

.h-card {
  display: flex;
  margin: 4rem 1rem;
  box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
  align-items: center;
  border: 1px solid #e2e2e2;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card_content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.status {
  display: flex;
  justify-content: space-between;
}

.read-btn {
  all: unset;
  font-weight: 600;
  border-bottom: 1px solid transparent;
}

.read-btn:hover {
  border-bottom: 1px solid #ccc;
}

/* V-cards */

.v-card {
  display: flex;
  flex-direction: column-reverse;
  max-width: 320px;
  box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
  align-items: center;
  border: 1px solid #e2e2e2;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card_container {
  margin: 4rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.card_wrapper {
  display: flex;
  justify-content: center;
}

.v-card img {
  width: 100%;
  height: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  max-width: 1100px;
  margin: 0 auto;
}

footer ul {
  display: flex;
  gap: 2rem;
}

footer ul li {
  font-size: 1.8rem;
}

footer ul li:hover {
  cursor: pointer;
}

/* POST Page */

.banner_image img {
  width: 100%;
}

.post h1 {
  font-size: 3rem;
}

.post hr {
  margin: 2rem auto;
}

.about-author {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

article {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: #000;
}
